*{
    padding: 0;
    margin: 0;
}
header {
    position: fixed;
    background-color: #9d8189;
    height: 80px;
    width: 100%;
    z-index: 999;
    font-family: papyrus;
}
header h1 a{
    color: white;
    text-decoration: none;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
}
li.title {
    color: white;
    font-weight: 500;
}
ul.drop-down-menu {
    position: absolute;
    right: 30px;
    top: 0;
    line-height: 5px;
    padding: 10px 10px;
}
ul.drop-down-menu li {
    display: inline;
    margin-right: 4vw;
    padding: 10px 10px ;
}
ul.drop-down-menu > li:last-child {
    border-right: none;
}
ul.drop-down-menu > li {
    float: left; /* 只有第一層是靠左對齊*/
}
ul.drop-down-menu a {
    color: white;
    text-decoration: none;
    background-color:  #9d8189;
    display: block;
    padding: 5px 15px;
    line-height: 40px;
    border-radius: 10px;
}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
    background-color: white;
    color: black;
    text-decoration: underline;
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
    text-decoration: underline;
}
ul.drop-down-menu ul { /*隱藏次選單*/
    left: 99999px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    left: -1px;
    border-right: 5px;
}

.news {
    background-color: antiquewhite;
    color: white;
    height: 85vh;
    background-image: url("img/09984.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: papyrus;
}
.btn {
    position: relative;
    z-index: 1;
    min-width: 300px;
    bottom: 12%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: color 0.5s;
    padding: 12px 20px;
    font-family: papyrus;
}
.btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 5px solid white;
}
.btn:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 9px;
    width: 100%;
    height: 100%;
    z-index: -2;
    border: 5px solid #222222;
    transition: all 0.3s 0.2s;
}
.btn:hover {
    color: #222222;
}
.btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
}
.btn .inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.btn .inner .blob {
    position: absolute;
    top: 6px;
    width: 25%;
    height: 100%;
    background: white;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
}
.btn .inner .blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
}
.btn .inner .blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
}
.btn .inner .blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
}
.btn .inner .blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
}
.btn:hover .inner .blob {
    transform: translateZ(0) scale(1.7);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
.profile img {
    left: 30%;
    width: 10%;
    border-radius: 50px;
    padding: 20px 20px;
}
.contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contactInfo img {
    width: 15%;
    border-radius: 50px;
    padding: 20px;
}
.contact:hover {
    transform: scale(1.5);
}
.info {
    width: 30%;
    padding: 20px 20px;
    font-family:Georgia;
    line-height: 1.8;
}
.text-1{
    color: #858484;
    border-bottom:1px #b7b7b7 solid; 
    padding-bottom:3px;
}
.text-2{
    font-size: 30px;
}
.school {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 20px 20px;
    font-size: large;
    line-height: 2.5;
    font-weight: 400;
    font-family: Arial;
}
.school img {
    width: 35px;
    padding-top: 20px;
}
.school .h3 {
    padding-bottom: 10px;
}
.schoolTitle {
    color: white;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; font-weight: bold;
    border-bottom:1px #b7b7b7 solid; 
    padding-bottom:2px;
}
.school .link {
    color: DodgerBlue;
    text-decoration: none;
    transition: background-color 0.5s;
}
.school .link:hover {
    background-color: DodgerBlue;
    color: white;
    text-decoration: underline;
}
.projectTitle {
    background-color: #283D3B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.projectTitle h2 {
    font-size: 30px;
    color: white;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; font-weight: bold;
    padding-bottom: 20px;
    padding-top: 50px;
}
.projects {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding: 100x 200px 80px;
    line-height: 2.5;
}
.project_info {
    background-color: #197278;
    margin: 10px;
    border-radius: 50px;
    border-color: white ;border-width:10px;border-style:ridge;
    display: flex;
    width: 80%;
}
.project_text {
    font-size: 18px;
    font-family: Arial;
    font-weight: 500;
    color: white;
    /*text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black; */
    display: flex; 
    align-items: center;
    width: 50%;
    padding: 30px;
}
.project_sub {
    background-color: black;
    display:  inline block;
    font-size: 16px;
    width: 400px;
    margin: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; font-weight: bold;
}
.project_sub * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
}
.project_sub:before,
.project_sub:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
    background-color: black;
    margin: 0;
    border-left: 3px solid white;
    border-right: 3px solid white;
    content: '';
    opacity: 0.9;
    z-index: 1;
}
.project_sub:before{
    -webkit-transform: skew(45deg) translateX(-155%);
            transform: skew(45deg) translateX(-155%);
}
.project_sub:after{
    -webkit-transform: skew(45deg) translateX(155%);
            transform: skew(45deg) translateX(155%);
}
.project_sub img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}
.project_sub figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow:0 0 10px black;
            box-shadow:0 0 10px black;
}
.project_sub h3 {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}
.project_sub a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.project_sub:hover > img {
    opacity: 0.5;
}
.project_sub:hover:before{
    -webkit-transform: skew(45deg) translateX(-55%);
            transform: skew(45deg) translateX(-55%);
}
.project_sub:hover:after{
    -webkit-transform: skew(45deg) translateX(55%);
            transform: skew(45deg) translateX(55%);
}
.project_sub:hover figcaption{
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.project_sub h4 {
    font-size: 20px;
    font-weight: 600;
}
footer {
    background-color: black;
    color: #b7b7b7;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}